/* header */
html{
    scroll-behavior: smooth;
    overflow:auto
}
.header nav{
    float: right;
    margin-right: 40px;
    font-size: 20px;
}

.header{
    background-color:white;
}
.header a{
    margin-left: 80px;
    font-family: audiowide;
    text-decoration: none;
}

.header h2{
    margin-left: 40px;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-family: audiowide;
}

/* Introduction */
.introduction{
    padding-bottom: 500px;
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.introduction-name{
    font-size: 20px;
    margin-left: 120px;
    padding-top: 200px;
    line-height: 80px;
    
}
span{
    color:red;
}
.introduction-name button{
    background-color: red;
    border: none;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 3px;
}

.introduction-name button:hover{
    background-color: rgb(212, 0, 0);
    
}

.avatar{
    display: flex;
    float: right;
    background-image: url("/images/abstract.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 200px;
    margin-top: 150px;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transform: rotate(45deg);

}
.introduction img{
    height: 400px;
    width: 400px;
    border-radius: 200px;
    transform: rotate(-45deg);
}

/* Section */
.section-title{
    text-align: center;
    position: relative;
    margin-top: 40px;
    font-size: 25px;
}

.section-title::after{
    position: absolute;
    content: '';
    width: 100px;
    height: 2px;
    left: 0;
    right: 0;
    margin: auto;
    top: 55px;
    background-color: black;
}

.biography{
    margin-top: 200px;
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}
.biography p{
    line-height: 80px;
    font-size: 30px;
    margin-left: 100px;
    font-family: Koho;

}
.biography img{
    height: 550px;
    width: 480px;
}

.skillset{
    line-height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 500px;
}
.skillset li{
    list-style-type: none;
    font-size: 30px;
    word-spacing:50px;
}
.skillset img{
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right:20px;
}

/* Contact info */
input{
    background-color: rgb(247, 247, 247);
    height: 50px;
    width: 1000px;
    padding-left:10px;
    font-weight: bold;
}
form{
    line-height: 70px;
    margin-top: 50px;
    margin-bottom: 400px;
}
#message{
    padding-bottom: 200px;
    width: 1000px;
}

.submit button{
    background-color: rgb(250, 198, 29);
    border: none;
    color: white;
    padding: 12px 104px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px;
}
.submit button:hover{
    background-color: rgb(206, 179, 25);
}

/* Progress Bar */
#myProgress {
    width: 400px;
    background-color: #ddd;
  }
  
  #codecademy {
    width: 1px;
    height: 10px;
    background-color: #04AA6D;
    text-align: end;
  }
  #code-practice{
      width: 1px;
      height: 10px;
      background-color: green;
      text-align: end;
  }
  #code-challenge{
    width: 1px;
    height: 10px;
    background-color: rgb(223, 236, 34);
    text-align: end;
}
.check-works{
    background-color: rgb(241, 241, 241);
    float: right;
    margin-left: 300px;
    padding-left: 20px;
    padding-right: 20px;
    
    font-weight: bold;
}

.check-works button{
    background-color: rgb(250, 198, 29);
    border: none;
    color: white;
    padding: 12px 24px;
    font-weight: bold;
    border-radius: 3px;
    margin-top: 50px;
}

.check-works button:hover{
    background-color: rgb(206, 179, 25);
}